body {
    font-family: Helvetica, sans-serif !important;
    overflow-x: hidden;

}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.orange {
    color: #fff;
    background: #ED7014;
}
.wave {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.wave svg {
    position: relative;
    display: block;
    width: calc(218% + 1.3px);
    height: 200px;
}
.wave .shape-fill {
    fill: #ED7014;
}

.shopified {
    position: relative;
}
.shopified img{
    position: absolute;
    margin: -25vh 40vw;
    z-index: 1;
}



.container i {
    font-size: 3rem;
}
.fontSize {
    font-size: 12px;
}
@media only screen and (max-width: 480px) {
    .sponsor {
        width: 100vw !important;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
} 
/* position: absolute;

margin: -30vh 35vw;

z-index: 1;
} */